@import url(http://fonts.googleapis.com/css?family=Neuton:400,400italic|Montserrat:400,700);
#songHeader {
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
}
#songHeader h1 {
    font-weight:700;
    letter-spacing:0.05em;   
}
#songHeader span {
    font-size:0.5em;
    font-weight:400;
    letter-spacing:0.1em;
    color:rgba(0,0,0,0.7);
}
.verse, .chorus {
    font-family:"Neuton", serif;
    font-size:1.5em;
    letter-spacing:0.05em;
    margin-bottom:2em;
}
.verse h1, .chorus h1 {
    font-size:1.3em;
    font-style:italic;
}
.verse p {
    
}
.word:hover {
    background:rgba(34, 34, 131, 0.6);
    cursor:pointer;
    line-height:1em;
}
.chordContainer {
    position:absolute;
}
.chord {
    font-family:'Monserrat',sans-serif;
    font-weight:700;
    position:relative;
    top:-1em;
}
.twoCol {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}